# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# http://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2


# PHP
# PSR-2 Coding Standards
# http://www.php-fig.org/psr/psr-2/
[*.php]
indent_size = 4

# Javascript
# Airbnb Javascript Standards
# https://github.com/airbnb/javascript
[*.js]
indent_size = 2

# Stylesheets
# Sass Guidelines
# https://sass-guidelin.es/
[*.{scss,css}]
indent_size = 2

# HTML
[*.{htm,html}]
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false
